@font-face{
  font-family: charter;
  src: url('../fonts/charter-regular.otf');
  font-style: normal;
  font-weight: 400;
}

@font-face{
  font-family: charter-italic;
  src: url('../fonts/charter-italic.otf');
  font-style: italic;
  font-weight: 400;
}

@font-face{
  font-family: charter-bold;
  src: url('../fonts/charter-bold.otf');
  font-style: normal;
  font-weight: bold;
}

@font-face{
  font-family: charter-bold-italic;
  src: url('../fonts/charter-bold-italic.otf');
  font-style: italic;
  font-weight: bold;
}

:root{
  font-size: 18px;
  --gray30: #212121; /*Los custom properties o variables en CSS nos ayudarán a almacenar datos para ser reutilizados por referencia en múltiples partes de nuestras hojas de estilo, son modificables según su contexto y también manipulables desde JavaScript */
  --gray20: #212429;
  --gray10: #616161;
}

body {
  color: var(--gray30);
  font-family: 'Roboto',sans-serif;
  margin: 0;
  /* font-family: charter; */
}

a{
  color: var(--gray30);
}

header{
  /* --gray10:red; */
  font-size: 14px;
  color: var(--gray10);
}

header a {
  color:var(--gray10);
  text-decoration: none;
}

/* :hover es una pseudoclase */
header a:hover {
   color: var(--gray30);
}

nav details summary {
  font-weight: bold;
}

h1{
  font-size: 60px;
  margin: 64px 10px 16px 10px;
  /* font-size: 3.75em; */
}


hr {
   margin: 64px 0;
}

h2{
  font-size: 2em; /*Se multiplica por el elemento padre (unidad relativa)*/
  margin: 40px 0;
  font-weight: normal;
  margin: 64px 0 40px;
}

h3{
  font-size: 1,5em;
  margin-top: 16px;
  margin-bottom: 24px;
  font-weight: normal;
}

pre {
  background-color: #FEC62E;
  padding: 40px;
  font-family: 'Roboto';
  line-height: 24px;
}

blockquote {
  font-size: 24px;
  margin: 32px 0;
  padding-left: 16px;
  border-left: 4px solid var(--gray30);
  line-height: 24px;
}

blockquote span {
  color: var(--gray10);
}

blockquote span::before{
  content: '-';
}

.main {
  /* border: 1px solid red; */
}

.wrapper {
  width: 902px;
  margin: auto; /*Con este se puede centrar*/
}

.main-content {
  background: white;
  padding: 20px;
}
.debug { /*Con estos estilos puede debuggear*/
  box-shadow: inset 0 0 0 50px red;
  outline: 50px solid red;
  background: red;
  border: 1px solid red !important;
  box-sizing: border-box;
}

.hero{
  background-image: linear-gradient(to top,rgba(255,255,255,.3),transparent), url(../images/pattern.png);
  /* background-repeat: no-repeat;
  background-position:left 50px bottom -50px;
  background-size: cover; */
  height: 350px;
}



/* Psuedo Elementos elementos seleccionables y creados a partir de otros elementos como after y before o el placeholder de los inputs de formulario, en esta clase aprenderemos a usarlos. */

.section-content:first-of-type{
  margin:0;
}
.section-content ol li {
  line-height: 24px;
}
.section-content ul li {
  margin-bottom: 16px;
}
.section-content + hr {
  display: none;
}
.section-content{
  counter-reset: titleList;
  margin-top: 164px;
}
.section-content img {
  margin-top: 40px;
}

.section-content h3{
  counter-increment: titleList;
  padding-bottom: 4px;
}

.section-content h3::before {
  content: counter(titleList,decimal) '. ';
}

.section-content h3::after {
  content: '';
  width: 32px;
  height: 4px;
  background: var(--gray30);
  display: inline-block;
}
